{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count</title>
    <link rel="stylesheet" href="{% static 'admin.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background: rgb(30,81,78); background: linear-gradient(90deg, rgba(30,81,78,1) 39%, rgba(66,98,103,1) 100%); ;">

    <div class="container mt-5">
        <h1 class="text-center text-white">View Count</h1>
        <div class="container">

            <ul class="list-group mt-5">
                {% for movie in movies %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h3 class="mb-0">{{ movie.title }}</h3>
                    <p>{{ movie.count }}</p>
                </li>
                {% endfor %}
            </ul>

        </div>
    </div>

</body>
</html>
